.body{
    background-image:url('../imagenes/jpg/arte/fondo2.1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
.img{
    text-align: center;
    height:auto; 
    width:100%;
}
#centro{
    text-align: center;
    align-items: center;
    justify-content: center;
}
#piedepag {
    padding: 10px; /* Reducido de 20px a 10px */
    text-align: center;
    background-color: rgb(150, 150, 150);
    height: 80px; /* Reducido de 100px a 80px */
}
.zoom{
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
}
.zoom:hover{
    transform: scale(1.2); /* Cambiar el tamaño al 120% */
}

.tienda{
    color: black;
}
.tienda:link{
    text-decoration: rgb(0, 0, 0);
}
.tienda:hover{
    color: rgb(255, 0, 0);
}

.narvar{
    /
}