#cajagrande{
    width: 100%;
    height: 100%;
    background-image: url(../IMAGENES/JPG/fondocontacto80.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fffcfc;

}
textarea{
  resize: none;
}
#preguntas{
  resize: none;

}

#piedepag {
  padding: 10px; /* Reducido de 20px a 10px */
  text-align: center;
  background-color: rgb(150, 150, 150);
  height: 80px; /* Reducido de 100px a 80px */
}
.zoom{
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  margin-left: 5px;
}
.zoom:hover{
  transform: scale(1.2); /* Cambiar el tamaño al 120% */
}

h2{
  text-align: center;
  align-items: center;
}

.env{
  border-radius: 15px;
}

form {
  width: 50%; /* Puedes ajustar el ancho según tu preferencia */
  max-width: 400px; /* Ancho máximo para mantener la legibilidad */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 10px; /* Espaciado interno */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  border-radius: 8px; /* Bordes redondeados */
  text-align: center;
  color: black;
}