.body {
    background-image: url('../IMAGENES/JPG/fondodedanza.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
   
}
#piedepag {
    padding: 10px; /* Reducido de 20px a 10px */
    text-align: center;
    background-color: rgb(150, 150, 150);
    height: 80px; /* Reducido de 100px a 80px */
}
.zoom{
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
}
.zoom:hover{
    transform: scale(1.2); /* Cambiar el tamaño al 120% */
}

.ballet{
    color: aqua;
}
.ballet:link{
    text-decoration: rgb(0, 0, 0);
}
.ballet:hover{
    color:rgb(0, 68, 255);
}

form {
    width: 50%; /* Puedes ajustar el ancho según tu preferencia */
    max-width: 400px; /* Ancho máximo para mantener la legibilidad */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px; /* Espaciado interno */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center;
    color: black;
}
label {
    display: block;
    margin-bottom: 8px;
  }

  .centrar{
    margin-right: 50px;  /* Margen derecho de px */
    margin-left: 50px;   /* Margen izquierdo de 25px */
  }