.body{
    background-image:url('../imagenes/jpg/fotografia/fondo4.1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: azure;
}
.galeria{
    text-align: center;
    height:auto; 
    width:100%;
}
.video{
    text-align: center;
    height:auto; 
    width:100%;
}
.centrar{
    margin-right: 50px;  /* Margen derecho de px */
    margin-left: 50px;   /* Margen izquierdo de 25px */
}
#piedepag {
    padding: 10px; /* Reducido de 20px a 10px */
    text-align: center;
    background-color: rgb(150, 150, 150);
    height: 80px; /* Reducido de 100px a 80px */
}
.zoom{
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
}
.zoom:hover{
    transform: scale(1.2); /* Cambiar el tamaño al 120% */
}
.foto{
    color: darkviolet;
}
.foto:link{
    text-decoration: rgb(0, 0, 0);
}
.foto:hover{
    color: indigo;
}