#cajagrande{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../IMAGENES/JPG/pregunta2.jpeg);
    border-radius: 15px;
    color: aliceblue;
}

#piedepag{
    padding: 20px;
    text-align: center;
    background-color: rgb(150, 150, 150 );
    
}