#cajagrande{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../IMAGENES/JPG/fondo20.jpg);
    color: rgb(250, 248, 248);
    background-size: cover;
}


#piedepag{
    padding: 20px;
    text-align: center;
    background-color: rgb(150, 150, 150 );
}


