#cajagrande{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #7a9197;
    border-radius: 15px;

}

#piedepag{
    padding: 20px;
    text-align: center;
    background-color: rgb(150, 150, 150 );
    
}