.body {
    background-image: url('../IMAGENES/JPG/fondodepregrado3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
#motivo{
    resize: none;
  
}

#piedepag {
    padding: 10px; /* Reducido de 20px a 10px */
    text-align: center;
    background-color: rgb(150, 150, 150);
    height: 80px; /* Reducido de 100px a 80px */
}
.zoom{
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
}
.zoom:hover{
    transform: scale(1.2); /* Cambiar el tamaño al 120% */
}



.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd; 
}

.styled-table tbody tr:last-child td {
    border-bottom: none;
}

form {
    width: 400px;
    border: 2px solid #ccc; 
    text-align: center;
    
  }
label {
    display: block;
    margin-bottom: 8px;
  }
 
 