.navbar{
    position: sticky;
}
.body {
    background-image: url('../IMAGENES/JPG/fondodeindex.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;

}
textarea{
    resize: none;
}

#piedepag{
    padding: 20px;
    text-align: center;
    background-color: rgb(150, 150, 150 );
}


.ina:link{
    text-decoration: rgb(0, 0, 0);
}

.ina:hover{
    color: blue;
}

form {
    width: 350px;
    border: 2px solid #ccc; 
 
  }
label {
    display: block;
    margin-bottom: 8px;
  }
<<<<<<< HEAD

=======
 
>>>>>>> ec0d765be9bf781beaefd4cd4bd2aa7d3281b17f


