body {
    background-image: url('../IMAGENES/JPG/fondodeindex.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff !important;
    background-color: #fff;
    background-attachment: fixed;
}
form {
    width: 50%; /* Puedes ajustar el ancho según tu preferencia */
    max-width: 400px; /* Ancho máximo para mantener la legibilidad */
    margin: 0 auto;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.61); 
    border-radius:  8px;
    text-align: center;
    color: black;
  }

textarea{
    resize: none;
}

#piedepag {
    padding: 10px; /* Reducido de 20px a 10px */
    text-align: center;
    background-color: rgb(150, 150, 150);
    color:rgb(33, 33, 33); ;
    height: 80px; /* Reducido de 100px a 80px */
  
}

.zoom{
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
}
.zoom:hover{
    transform: scale(1.2); /* Cambiar el tamaño al 120% */
}

.ina:link{
    text-decoration: rgb(0, 0, 0);
}

.ina:hover{
    color: blue;
}

.cul:link{
    text-decoration: rgb(0, 0, 0);
}

.cul:hover{
    color: blue;
}
  
label {
    display: block;
    margin-bottom: 8px;
  }
.fotos{
    text-align: center;
}

.centrar{
  margin-right: 50px;  
  margin-left: 50px;   
}

.navbar {
    background-color: #f5f9fd; /* Puedes cambiar #336699 por el color que prefieras */
  }



