.body {
    background-image: url('../IMAGENES/JPG/fondodeteatro2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
   
}
#piedepag{
    padding: 20px;
    text-align: center;
    background-color: rgb(150, 150, 150 );
    
}

/* Estilo del contenedor del carrusel */
#carouselExampleIndicators {

    width: 100%; /* Ajustado para ocupar el ancho completo del contenedor padre */
    max-width: 900px; /* Ajustado para un ancho máximo */
    height: 450px;
    overflow: hidden;
    margin: auto;
}

/* Estilo de las imágenes del carrusel */
.carousel-inner img {
    width: 100%;
    height: auto;
    display: block;
}